
/*Color*/
.bgBlue {
    background-color: #3AC6EA;
}
.bgDarkBlue {
    background-color: #102B3E;
}
.bgWhite-tone-1 {
    background-color: #CED7DF;
}
.blBorder {
    border: #56819A solid 5px;
}


/*Size*/

.w200 {
    width: 200px;
}
.w250 {
    width: 250px;
}
.w350 {
    width: 350px;
}

.h450 {
    height: 450px;
}
.h200 {
    height: 200px;
}
.h150 {
    height: 150px;
}
.h100 {
    height: 100px;
}
.h50 {
    height: 50px;
}
.h30 {
    height: 30px;
}


/*Radius*/
.brRadius-10{
    border-radius: 10px;
}
.brRadius-20{
    border-radius: 20px;
}
.brRadius-50{
    border-radius: 50px;
}
.brRadius-80{
    border-radius: 80px;
}
.brRadius-round {
    border-radius: 50%;
}

.top-lf-brRadius-10{
    border-top-left-radius: 10px;
}

.top-right-brRadius-10{
    border-top-right-radius: 10px;
}
.bott-right-brRadius-10{
    border-bottom-left-radius: 10px;
}

.bott-lf-brRadius-10{
    border-bottom-left-radius: 10px;
}





    /*Style text*/
.nav-list-links {
        list-style: none;
        margin-right: 100px;
}
.anсhor {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
.whColorTxt {
    color: white;
}
.modern-cards-section .txtCentr {
    margin: 0;
    padding-top: 50px;
}


/*Position on the page*/
.top-header, .nav-list-links, .nav-menu, .title-inHeader,.main-title-in-header, .cards-inBlBorder, .card-collection, .round-cards, .signature-modern-card {
    display: flex;
}

.top-header{
    justify-content: right;
}

.nav-list-links {
    align-items: center;
}

.nav-menu {
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 100px;
}
.title-inHeader{
    align-items: center;
    justify-content: center;
}

.main-title-in-header{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txtCentr {
    text-align: center;
}

.cards-inBlBorder {
    flex-direction: column;
}

.card-collection{
    list-style: none;
    justify-content: space-evenly;
}

.cards-in-border {
    padding: 25px 50px;
}

.round-cards {
    align-items: center;
    justify-content: center;
}

.round-cards .card-collection li:nth-child(2){
    border: #56819A solid 5px;
    padding: 15px 30px;
    margin: 0 50px;
}

.signature-modern-card {
    justify-content: space-between;
}

