body {
    background-color: darkgray;
}

/*===========Common styles===============*/

.centr-main-box {
    margin: 0 auto;
}

.size-main-box {
    max-width: 1400px;
    height: 750px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}

.stylelBr {
    border: white 6px solid;
    box-sizing: border-box;
}

.bgBlue {
    background-color: blue;
}

.bgPink {
    background-color: deeppink;
}

.bgYellow {
    background-color: yellow;
}

.bgBlack {
    background-color: black;
}

.bgRed {
    background-color: red;
}

.bgOrange {
    background-color: orange;
}

.bgGreen {
    background-color: green;
}

/*============Sample-1=====================*/

.box-A {
    width: 100%;
    height: 20%;

}

.box-for-B-C {
    width: 100%;
    height: 80%;
    display: flex;
}

.box-B {
    width: 70%;
    height: 100%;
}

.box-C {
    width: 30%;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .sample-1 {
        display: flex;
        flex-direction: column;
    }

    .box-for-B-C {
        display: flex;
        flex-direction: column;
    }

    .box-A {
        width: 100%;
        height: 20%;
    }

    .box-B {
        width: 100%;
        height: 80%;
    }

    .box-C {
        width: 100%;
        height: 20%;
    }
}

/*============Sample-2=====================*/
.box-A2 {
    width: 100%;
    height: 35%;
}

.box-for-B2-C2-D2-E2-F2 {
    width: 100%;
    height: 75%;
    display: flex;
}

.box-for-B2-C2-D2-E2 {
    width: 80%;
    height: 100%;
    border-right: white 12px solid;
}

.box-F2 {
    width: 20%;
    height: 100%;
}

.box-B2 {
    width: 100%;
    height: 50%;
    border-bottom: white 12px solid;
    box-sizing: border-box;
}

.box-for-C2-D2-E2 {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
}

.box-C2, .box-D2, .box-E2 {
    width: 33.33%;
    height: 100%;
    box-sizing: border-box;
}

.box-D2 {
    border-left: white 12px solid;
    border-right: white 12px solid;
}

@media screen and (max-width: 992px) {

    .box-A2 {
        width: 100%;
        height: 20%;
        border-radius: 20px;

    }

    .box-for-B2-C2-D2-E2-F2 {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .box-B2 {
        border-radius: 20px;

    }

    .box-for-B2-C2-D2-E2 {
        width: 100%;

    }

    .box-for-C2-D2-E2 {
        justify-content: space-between;
    }

    .box-D2 {
        border: none;
    }


    .box-C2, .box-D2, .box-E2 {
        width: 25%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 20px;
    }


    .box-F2 {
        width: 100%;
        height: 25%;
        border-top: white 12px solid;
        border-radius: 20px;
    }
}

/*============Sample-3=====================*/
.box-A3 {
    width: 100%;
    height: 35%;
}

.box-B3-C3-D3-E3-F3-G3-H3 {
    width: 100%;
    height: 75%;
    display: flex;
}

.box-B3-C3-D3-E3-F3-G3 {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box-B3, .box-C3, .box-D3, .box-E3, .box-F3, .box-G3 {
    width: 33.33%;
    height: 50%;
}


.box-H3 {
    width: 20%;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .box-A3 {
        height: 20%;
        border-radius: 20px;
    }

    .box-B3-C3-D3-E3-F3-G3-H3 {
        flex-direction: column;
        align-items: center;
        height: 80%;
        width: 100%;
    }

    .box-B3-C3-D3-E3-F3 {
        height: 40%;
    }

    .box-B3-C3-D3-E3-F3-G3 {
        justify-content: space-between;
        width: 100%;

    }


    .box-B3, .box-C3, .box-D3, .box-E3, .box-F3, .box-G3 {
        width: 32%;
        height: 50%;
        border-radius: 20px;

    }

    .box-B3-C3-D3-E3-F3-G3:nth-child(n) {
        column-gap: 0.5%;
        row-gap: 1.5%;
    }

    .box-H3 {
        width: 100%;
        height: 40%;
        border-radius: 20px;

    }


}